# Core
pandas
numpy

# NLP
nltk
spacy
sentence-transformers

# Sentiment / ML
scikit-learn
umap-learn
hdbscan
bertopic

# Visualization & Web App
streamlit
folium
streamlit-folium
wordcloud
matplotlib
seaborn
pydeck

# Database
psycopg2-binary

# Environment
python-dotenv

# Similarity
scipy

# Google Generative AI
google-generativeai

# Optional (Notebook Only)
ipywidgets
